<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <link rel="stylesheet" media="all" href="styles.css">
</head>
<body>
    <div id="wrap">
        <div id="header"></div>
        <div id="sidebar">
            {TEMPLATE:tpl_navi}
        </div>
        <div id="main">
            <div id="content_spacer"></div> 
            <div id="content_topic_error">ERROR</div>            
            <div id="content_frame">Seite nicht gefunden!</div>         
            
            <div id="content_spacer"></div>
        </div>
        <div id="footer"></div>
    </div>
</body>
</html>