<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <link rel="stylesheet" media="all" href="styles.css">
</head>
<body>
    <div id="wrap">
        <div id="header"></div>
        <div id="sidebar">
            {TEMPLATE:tpl_navi_off}
        </div>
        <div id="main">
            <div id="content_spacer"></div> 
            <div id="content_topic">Login</div>            
            <div id="content_frame">
            <form method="POST" action="doLogin.html">
	           		<table style="margin-left: auto; margin-right: auto;" width="300" cellspacing="0" cellpadding="5">
	           		<tr>
		            	<td align="right" width="100"><b>Benutzername:</b></td>
		            	<td width="200"><input type="text" width="150" name="txt_username"></td>
	            	</tr>   
	            	<tr>      	
		            	<td align="right" width="100"><b>Passwort:</b></td>
		            	<td width="200"><input type="text" width="150" name="txt_password"></td>
	            	</tr> 
	            	<tr>      	
		            	<td align="center" width="100" colspan="2"><input style="width:150px" type="submit" value="Einloggen" /></td>
	            	</tr> 
	            	</table>
            </form>
            </div>                 
            
            <div id="content_spacer"></div>
        </div>
        <div id="footer"></div>
    </div>
</body>
</html>