            <div id="navi_seperator">.: Plugins :.</div>
             <a href="{RELATIVE_FOLDER}AdminStuff">
            	<div id="navi_btn" onmouseout="this.style.background='gray';this.style.color='white';" onmouseover="this.style.background='white';this.style.color='black';">
            		<div id="navi_text">AdminStuff</div>
            		<div id="navi_element"></div>
            	</div>
            </a>
            <a href="{RELATIVE_FOLDER}Contao.html">
            	<div id="navi_btn" onmouseout="this.style.background='gray';this.style.color='white';" onmouseover="this.style.background='white';this.style.color='black';">
            		<div id="navi_text">Contao</div>
            		<div id="navi_element"></div>
            	</div>
            </a>
            <a href="{RELATIVE_FOLDER}TheRock.html">
            	<div id="navi_btn" onmouseout="this.style.background='gray';this.style.color='white';" onmouseover="this.style.background='white';this.style.color='black';">
            		<div id="navi_text">TheRock</div>
            		<div id="navi_element"></div>
            	</div>
            </a>
            <a href="{RELATIVE_FOLDER}DieHard.html">
            	<div id="navi_btn" onmouseout="this.style.background='gray';this.style.color='white';" onmouseover="this.style.background='white';this.style.color='black';">
            		<div id="navi_text">DieHard</div>
            		<div id="navi_element"></div>
            	</div>
            </a>
           	<a href="{RELATIVE_FOLDER}GreenMile.html">
            	<div id="navi_btn" onmouseout="this.style.background='gray';this.style.color='white';" onmouseover="this.style.background='white';this.style.color='black';">
            		<div id="navi_text">GreenMile</div>
            		<div id="navi_element"></div>
            	</div>
            </a>
          	<a href="{RELATIVE_FOLDER}FifthElement.html">
            	<div id="navi_btn" onmouseout="this.style.background='gray';this.style.color='white';" onmouseover="this.style.background='white';this.style.color='black';">
            		<div id="navi_text">FifthElement</div>
            		<div id="navi_element"></div>
            	</div>
            </a>