            <div id="navi_seperator">.: Allgemein :.</div>
            <a href="logout.html?username={USERNAME}&token={TOKEN}">
            	<div id="navi_btn" onmouseout="this.style.background='gray';this.style.color='white';" onmouseover="this.style.background='white';this.style.color='black';">
            		<div id="navi_text">Logout</div>
            		<div id="navi_element"></div>
            	</div>
            </a>
            <a href="profile.html?username={USERNAME}&token={TOKEN}">
            	<div id="navi_btn" onmouseout="this.style.background='gray';this.style.color='white';" onmouseover="this.style.background='white';this.style.color='black';">
            		<div id="navi_text">Profil</div>
            		<div id="navi_element"></div>
            	</div>
            </a>
            <a href="chat.html?username={USERNAME}&token={TOKEN}">
            	<div id="navi_btn" onmouseout="this.style.background='gray';this.style.color='white';" onmouseover="this.style.background='white';this.style.color='black';">
            		<div id="navi_text">Chat</div>
            		<div id="navi_element"></div>
            	</div>
            </a>