            <h3>Kick</h3>
            <div>
                <form name="kick" url="kickPlayer.html" message="Spieler wird gekickt..." onSuccess="onKickSuccess" onError="onKickError">
                    <label class="lbl_small" for="playerName">Spielername: </label><input class="txt_big" value="" name="playerName">
                    <label class="lbl_small" for="reason">Grund: </label><input class="txt_big" value="" name="reason">
                </form> 
                <button class="button btn_middle" type="postRequest" target="kick">Kicken</button>
            </div>