<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="de">
<head>
    <link rel="stylesheet" media="all" href="styles.css">
    <script src="scripts/jquery-2.1.0.js" type="text/javascript"></script>
    <script>   	
        $(document).ready(function() {         	 
		    ////////////////////////////////////////////////////
            //
            // MAIN-METHODS
            //
            //////////////////////////////////////////////////// 
            		        	     	
	  		function hideAll() {            
		        $(".content_frame_switch").hide();  
		    }  
		    
		    function showDIV(name) {  
		    	hideAll();          
		        $(name).show();  
		    } 
		    
		    ////////////////////////////////////////////////////
            //
            // PAGE-SPECIFIC
            //
            ////////////////////////////////////////////////////
            
            $("#topic_kick").click(function(){
            	showDIV("#content_kick"); 
            });
            
            $("#topic_ban").click(function(){
            	showDIV("#content_ban"); 
            });
                        
            $("#topic_god").click(function(){
            	showDIV("#content_god"); 
            });
            
            $(".refreshPlayers").click(function(){
			  $.post("getOnlinePlayers.html?username={USERNAME}&token={TOKEN}",function(data,status){
			  	$(".playerlist").html(data);
			  });
			});
        });
    </script>    
</head>
<body>
    <div id="wrap">
        <div id="header"></div>
        <div id="sidebar">
            {TEMPLATE:tpl_navi_on}
        </div>
        <div id="main">
            <div id="content_spacer"></div>
            <div id="content_plugin_topic">AdminStuff</div>            
            <div id="content_spacer"></div>
            
            <div class="content_topic_switch" id="topic_kick">/kick</div>
            <div class="content_frame_switch" id="content_kick">            
                <form method="POST" action="AS_kickPlayer.html?username={USERNAME}&token={TOKEN}">
			        <label class="lbl_small" for="plList"><img style="vertical-align: middle;" class="refreshPlayers" src="images/gui/btn_refresh.gif" />Spieler:</label><div class="playerlist" id="plList">{PLAYERLIST}</div>
     				<label class="lbl_small" for="reason">Grund: </label><input class="txt_big" type="text" style="width: 450px;" maxlength="64" name="reason" id="reason">
        	 		<input class="btn_middle" type="submit" value="OK" />
            	</form>  
            	<NOELEMENT style="clear:both;">         	
            </div>
            <div id="content_spacer"></div>
            
            <div class="content_topic_switch" id="topic_ban">/ban</div>
            <div class="content_frame_switch" id="content_ban">
            	<form method="POST" action="AS_banPlayer.html?username={USERNAME}&token={TOKEN}">
	           		<label class="lbl_small" for="reason">Spieler:</label><input class="txt_big" type="text" style="width: 450px;" maxlength="64" name="player" id="player">
        	 		<label class="lbl_small" for="reason">Grund:</label><input class="txt_big" type="text" style="width: 450px;" maxlength="64" name="reason" id="reason">
        	 		<input class="btn_middle" type="submit" value="OK" />
            	</form>  
            	<NOELEMENT style="clear:both;">        
            </div>            
            <div id="content_spacer"></div>
            
            <div class="content_topic_switch" id="topic_god">/god</div>
            <div class="content_frame_switch" id="content_god">
             	<form method="POST" action="AS_godmode.html?username={USERNAME}&token={TOKEN}">
	           		<label class="lbl_small" for="plList"><img style="vertical-align: middle;" class="refreshPlayers" src="images/gui/btn_refresh.gif" /> Spieler:</label><div class="playerlist" id="plList">{PLAYERLIST}</div>
     				<input class="btn_middle" type="submit" value="OK" />
            	</form>
                <NOELEMENT style="clear:both;">     
            </div>            
            <div id="content_spacer"></div>
        </div>
        <div id="footer"></div>
    </div>
</body>
</html>