{FILE:head.html}
            <div id="content_spacer"></div> 
            <div id="content_topic">Login</div>            
            <div id="content_frame">
	            <form method="POST" action="doLogin.html">
		           		<label class="lbl_login" for="txt_username">Benutzername:</label><input class="txt_login" type="text" name="txt_username">
	                    <label class="lbl_login" for="txt_password">Passwort:</label><input class="txt_login" type="text" name="txt_password">
	                    <center>
	                    <input class="btn_middle" type="submit" value="Einloggen" />
	                    </center>
	            </form>
            	<NOELEMENT style="clear:both;">
            </div>                 
            <div id="content_spacer"></div>
{FILE:footer.html}