<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="de">
<head>
    <link rel="stylesheet" media="all" href="styles.css">
</head>
<body>
    <div id="wrap">
        <div id="header"></div>
        <div id="sidebar">
            {TEMPLATE:tpl_navi_on}
        </div>
        <div id="main">
            <div id="content_spacer"></div>
            <div id="content_topic">Chat</div>
            <div id="content_frame">
            Hier würde der Chat stehen...
            </div>
            <div id="content_spacer"></div>
        </div>
        <div id="footer"></div>
    </div>
</body>
</html>