body, html {
    margin: 0;
    padding: 0;
    color: #000000;
    background: #000000;
    font-family: 'Segoe UI', 'Verdana', sans-serif;
}


#wrap {
    width: 922px;
    margin: 0 auto;
    padding: 0;    
    background-image: url("images/bg_wrapper.png");
}

#header {
    width: 922px;
    height: 142px;
    background-image: url("images/bg_top.png");
}

#main {
    text-align: center;
    float: right;
    width: 779px;
    min-height: 200px;    
    font-size: 13px;
    background-image: url("images/bg_content.png");
}

#sidebar {
    float: left;
    width: 143px;
    background-image: url("images/bg_navi.png");
}

#footer {
    clear: both;
    height: 24px;
    background-image: url("images/bg_footer.png");
}

#navi_seperator {   
    margin-top: 15px;
    margin-bottom: 5px;
    float: left;
    width: 143px;
    height: 18px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    background-image: url("images/bg_navi_topic.png");    
}

#navi_text {
    float: left;
    width: 100px;
    height: 18px;
    margin: 3px;
    font-size: 12px;
    font-weight: bold;
}

#navi_btn {  
    clear: both; 
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 118px;
    height: 22px;
    background: gray;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    color: #ffffff;
}

#navi_element {   
    float: right;
    width: 4px;
    height: 16px;
    margin: 2px;
    background: #5fafd0;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}

#content_topic_success {
    margin-top: 20px;
    margin-bottom: 5px;
    margin: auto;
    width: 698px;
    height: 22px;
    font-weight: bold;
    background: #007503;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    color: #ffffff;
}

#content_topic_error {
    margin-top: 20px;
    margin-bottom: 5px;
    margin: auto;
    width: 698px;
    height: 22px;
    font-weight: bold;
    background: #c90000;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    color: #ffffff;
}

#content_spacer {
    margin: 20px auto;
    clear: both;
}

#content_plugin_topic {
    margin-top: 20px;
    margin-bottom: 5px;
    margin: auto;
    width: 698px;
    height: 30px; 
    line-height: 30px;
    vertical-align:middle;
    font-weight: bold;
    background: #000000;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    font-size: 16px;
    color: #ffffff;
}

#content_topic {
    margin-top: 20px;
    margin-bottom: 5px;
    margin: auto;
    width: 698px;
    height: 22px;
    font-weight: bold;
    background: #5fafd0;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    color: #ffffff;
}

#content_frame {
    clear: both;    
	text-align: left;
    margin: 5px auto;
    width: 688px;
    font-weight: normal;
    background: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;    
    color: #000000;
    padding: 5px;
}

.content_topic_switch{
    margin-top: 20px;
    margin-bottom: 5px;
    margin: auto;
    width: 698px;
    height: 22px;
    font-weight: bold;
    background: #5fafd0;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    color: #ffffff;
}

.content_frame_switch {
	text-align: left;
    clear: both;    
    margin: 5px auto;
    width: 688px;
    background: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    color: #000000;
    padding: 5px;
    display:none;
}


.lbl_login {
    width: 256px;    
    clear: both;
    font-weight: bold;
    margin: 5px;
    margin-top: 0px;
    display: block;
    float: left;
    text-align: right;
    vertical-align: middle;
    line-height: 20px; 
    height: 20px;
}

.txt_login {
    float: left;    
    width: 150px;
    display: block;
    vertical-align: middle;
    height: 20px;
}

.lbl_small {
    width: 150px;
    clear: both;
    font-weight: bold;
    margin: 10px;
    margin-top: 0px;
    display: block;
    float: left;
    text-align: right;
    vertical-align: middle;
    line-height: 20px; 
    height: 20px;
}

.dropdown_big {
    float: left;    
    width: 456px;
    display: block;
    vertical-align: middle;
    height: 20px;
    margin-bottom: 5px;
}

.txt_big {
    float: left;    
    width: 450px;
    display: block;
    vertical-align: middle;
    height: 20px;
    margin-bottom: 5px;
}

.btn_middle {   
    clear: both;
    margin: auto;
    width: 158px;
    display: block;
    vertical-align: middle;
    height: 25px;
}